<ion-header>
  <ion-toolbar>
    <ion-title>
      <img src="assets/emirati-arabi.jpg" alt="Bandiera di Dubai" class="flag-icon" />
      ANGIODROID Technical Training - Area MENA - DUBAI 24-25-26th October 2023
      <img src="assets/emirati-arabi.jpg" alt="Bandiera di Dubai" class="flag-icon" />
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  padding class="background">

  <!-- Card 1 -->
  <!-- <ion-card (click)="openDocumentiPage()" class="card1" style="--background: url('/assets/mainitenance.jpg') no-repeat center center / cover;"> -->
    <ion-card (click)="openDocumentiPage()" class="card1">
    <ion-card-header>
      Installation
    </ion-card-header>
    <ion-card-content>
      Access to the simualtions regarding the Installations
    </ion-card-content>
  </ion-card>

  <!-- Card 2 -->
  <!--<ion-card class="card2" style="--background: url('/assets/url_immagine_card2.jpg') no-repeat center center / cover;">-->
    <ion-card (click)="openDocumentiPage()" class="card2">
    <ion-card-header>
      Ordinary Mainitenance
    </ion-card-header>
    <ion-card-content>
      Access to the simualtions regarding the Ordinary Mainitenance
    </ion-card-content>
  </ion-card>

  <!-- Card 3 -->
 <!-- <ion-card class="card3" style="--background: url('/assets/url_immagine_card3.jpg') no-repeat center center / cover;">-->
  <ion-card (click)="openDocumentiPage()" class="card3">
    <ion-card-header>
      Technical Assistance
    </ion-card-header>
    <ion-card-content>
      Access to the simualtions regarding the Technical Assistance
    </ion-card-content>
  </ion-card>

   <!-- Card 4 -->
 <!-- <ion-card class="card3" style="--background: url('/assets/url_immagine_card3.jpg') no-repeat center center / cover;">-->
  <ion-card (click)="openDocumentiPage()" class="card4">
    <ion-card-header>
      Troubleshooting Section
    </ion-card-header>
    <ion-card-content>
      Access to the document of th Angiodroid Troubleshooting
    </ion-card-content>
  </ion-card>

   <!-- Card 5 -->
 <!-- <ion-card class="card3" style="--background: url('/assets/url_immagine_card3.jpg') no-repeat center center / cover;">-->
  <ion-card (click)="openDocumentiPage()" class="card5">
    <ion-card-header>
      Agenda of the Training
    </ion-card-header>
    <ion-card-content>
      Access to the Agenda of the 3 days Training
    </ion-card-content>
  </ion-card>

</ion-content>
