container {
    text-align: center;
  
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
  
    color: #8c8c8c;
  
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }
  
  ion-content {
    --background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url('/assets/panel2.jpg') no-repeat 100% 100%;
    background-size: cover; /* Assicurati che l'immagine copra completamente l'elemento */
  }

  /* Ion-card 1 - Blu scuro */
ion-card.card1 {
    background: linear-gradient(to bottom, rgba(33, 47, 61, 0.8), rgba(255, 255, 255, 0)); /* Sfumatura blu scuro verso trasparente */
  }
  
  /* Ion-card 2 - Verde oliva */
  ion-card.card2 {
    background-color: rgba(85, 107, 47, 0.8); /* Verde oliva con opacità 0.8 */
  }
  
  /* Ion-card 3 - Grigio ardesia */
  ion-card.card3 {
    background-color: rgba(112, 128, 144, 0.8); /* Grigio ardesia con opacità 0.8 */
  }

  /* Ion-card Header */
  ion-card ion-card-header {
    font-size: 1.5em; /* Dimensione del font */
    font-weight: bold; /* Grassetto */
    color: #fff; /* Colore del testo bianco */
    
  }

  ion-title {
    font-family: 'Roboto', sans-serif; /* Usa il font Roboto */
  }

/* Ion-list con sfondo trasparente */
ion-list.transparent-list {
    --ion-background-color: rgba(255, 255, 255, 0); /* Trasparente */
    color: var(--ion-color-dark); /* Colore del testo, ad esempio, il colore scuro di Ionic */
    --ion-color-light: #ffffff; /* Bianco per il testo */
    ion-item {
        color: var(--ion-color-light); /* Colore del testo bianco per gli item non link */
      }
    
      ion-item:not(a) {
        color: var(--ion-color-light); /* Colore del testo azzurro per gli item link */
      }
  }

  .flag-icon {
    width: 30px; /* Regola la larghezza secondo le tue preferenze */
    height: 20px; /* Regola l'altezza secondo le tue preferenze */
    margin-right: 10px; /* Aggiunge spazio a destra del testo */
  }