<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-toolbar>
      <!-- Aggiungi il pulsante di "torna indietro" -->
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home"></ion-back-button>
      </ion-buttons>
  
      <ion-title>
        <img src="assets/emirati-arabi.jpg" alt="Bandiera di Dubai" class="flag-icon" />
        INSTALLATION ROOM
        <img src="assets/emirati-arabi.jpg" alt="Bandiera di Dubai" class="flag-icon" />
      </ion-title>
    </ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">documents</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card class="card1" >
    <ion-card-header>
      Group 1: Mr. Tajammal Yousaf, Mr. Ahmed Tawfikù, Mr. Wessam Nabil Guirguis Dawoud, Mr. Angelo Pereyra 

    </ion-card-header>
    <ion-card-content>
      <ion-list class="transparent-list">
        <ion-item>
          <ion-icon name="car-sport-sharp" aria-hidden="true" slot="start"></ion-icon>
          <a href="https://drive.google.com/file/d/150VgHvM7gQD6ndszUQ95C1S8SCQ_pHp2/view?usp=sharing" target="_blank">  Open Injector Sheet</a>
        </ion-item>
        <ion-item>
          <ion-icon name="hammer-sharp" aria-hidden="true" slot="start"></ion-icon>
          <a href="https://drive.google.com/file/d/150VgHvM7gQD6ndszUQ95C1S8SCQ_pHp2/view?usp=sharing" target="_blank">  Open Toolbag Sheet</a>
        </ion-item>
            <ion-item>
              <ion-icon name="videocam-sharp" aria-hidden="true" slot="start"></ion-icon>
          <a href="https://drive.google.com/file/d/1qJQqMfNzEa27c7DhqxbTCE-Owx4Wnz_T/view?usp=sharing" target="_blank">  Open Scenario</a>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>



 
  <ion-card class="card1" >
    <ion-card-header>
      Group 2: Mr. Derbieh, Mr. Majid Bagheri, Denis Nikolaychuk, Mr. Mohamed Hommaid 

    </ion-card-header>
    <ion-card-content>
      <ion-list class="transparent-list">
        <ion-item>
          <ion-icon name="car-sport-sharp" aria-hidden="true" slot="start"></ion-icon>
          <a href="https://drive.google.com/file/d/150VgHvM7gQD6ndszUQ95C1S8SCQ_pHp2/view?usp=sharing" target="_blank">  Open Injector Sheet</a>
        </ion-item>
        <ion-item>
          <ion-icon name="hammer-sharp" aria-hidden="true" slot="start"></ion-icon>
          <a href="https://drive.google.com/file/d/150VgHvM7gQD6ndszUQ95C1S8SCQ_pHp2/view?usp=sharing" target="_blank">  Open Toolbag Sheet</a>
        </ion-item>
            <ion-item>
              <ion-icon name="videocam-sharp" aria-hidden="true" slot="start"></ion-icon>
          <a href="https://drive.google.com/file/d/150VgHvM7gQD6ndszUQ95C1S8SCQ_pHp2/view?usp=sharing" target="_blank">  Open Scenario</a>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>


  <ion-card class="card1">
    <ion-card-header>
      Group 3: Mr. Eyad Sadek, Mr. Ahmed Moukhta, Mr. Rachad Bou Assiì, Mr. Masoud Niktalab

    </ion-card-header>
    <ion-card-content>
      <ion-list class="transparent-list">
        <ion-item>
          <ion-icon name="car-sport-sharp" aria-hidden="true" slot="start"></ion-icon>
          <a href="https://drive.google.com/file/d/150VgHvM7gQD6ndszUQ95C1S8SCQ_pHp2/view?usp=sharing" target="_blank">  Open Injector Sheet</a>
        </ion-item>
        <ion-item>
          <ion-icon name="hammer-sharp" aria-hidden="true" slot="start"></ion-icon>
          <a href="https://drive.google.com/file/d/150VgHvM7gQD6ndszUQ95C1S8SCQ_pHp2/view?usp=sharing" target="_blank">  Open Toolbag Sheet</a>
        </ion-item>
            <ion-item>
              <ion-icon name="videocam-sharp" aria-hidden="true" slot="start"></ion-icon>
          <a href="https://drive.google.com/file/d/150VgHvM7gQD6ndszUQ95C1S8SCQ_pHp2/view?usp=sharing" target="_blank">  Open Scenario</a>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>
